<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <meta name="ahrefs-site-verification" content="62c2287a229dcc50b7bbd4e0927b07b7b2d55de132a951766540c8ec08d84695">

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>

  {%- if template contains 'product' -%}
    {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
    {%- if featured_media -%}
      <link rel="preload" as="image" href="{{ featured_media | img_url: '1024x1024' }}" fetchpriority="high">
    {%- endif -%}
    <script>
      (function() {
        var h = window.location.pathname;
        var r = "";
        if (h.includes('pain-relief-patches') && h.includes('mg')) r = "/products/pain-relief-patches";
        else if (h.includes('hemp-relief-patches') && h.includes('mg')) r = "/products/hemp-relief-patches-gold";
        else if (h.includes('pain-relief-cream') && (h.includes('-x') || h.includes('auto'))) r = "/products/pain-relief-cream";
        else if (h.includes('immuni-z-patches-')) r = "/products/immuni-z-patches";
        else if (h.includes('movability-plus-patches-')) r = "/products/movability-plus-patches";
        else if (h.includes('calm-relax-nighttime-')) r = "/products/calm-relax";
        else if (h.includes('zoomie-sticks-')) r = "/products/zoomie-sticks";
        else if (h.includes('mobility-chews-')) r = "/products/mobility-chews";
        if (r) window.location.replace(r);
      })();
    </script>
  {%- endif -%}

  {% comment %} Non-critical CSS loaded asynchronously {% endcomment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" media="print" onload="this.media='all'"/>
  
  {{ 'main.css' | asset_url | stylesheet_tag }}
  {{ 'newstyle.css' | asset_url | stylesheet_tag: media: 'print', onload: "this.media='all'" }}
  {{ 'hustle-popup.css' | asset_url | stylesheet_tag: media: 'print', onload: "this.media='all'" }}
  
  {%- assign header_font = settings.type_header_font -%}
  {%- assign base_font = settings.type_base_font -%}
  <link rel="preload" as="font" href="{{ header_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ base_font | font_url }}" type="font/woff2" crossorigin>

  <title>{{ page_title }}</title>
  {% include 'social-meta-tags' %}
  {% include 'css-variables' %}

  <style>
    {{ header_font | font_face: font_display: 'swap' }}
    {{ base_font | font_face: font_display: 'swap' }}
    /* ... rest of your inline CSS ... */
    .main-content{opacity:1} /* Changed from 0 to 1 to prevent flashing/hidden content */
  </style>

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}" type="text/css" media="print" onload="this.media='all';">

  {% comment %} Defer scripts to unblock the main thread {% endcomment %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'my-scripts.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>

  <script src="https://www.googletagmanager.com/gtm.js?id=GTM-TDHQFTL" async></script>

  {{ content_for_header }}
</head>

<body class="template-{{ request.page_type | handle }}">
  {% section 'header' %}

  <div class="page-container drawer-page-content" id="PageContainer">
    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </div>

  {%- if template contains 'product' -%}
    {% section 'custom-upsell' %}
  {%- endif -%}

  {% include 'appstle-subscription-helper' %}
  {% include 'recent-box' %}

  <script>
    $(document).ready(function(){
      if(typeof cartUpdate === 'function') cartUpdate();
      const urlParams = new URLSearchParams(window.location.search);
      const clickId = urlParams.get('clickid');
      if (clickId) localStorage.setItem('clickid', clickId);
    });
  </script>
</body>
</html>