<div class="main__products__center">
  {%- for block in section.blocks -%}
    <div class="main__products__item">
      <a href="{{ block.settings.product.url }}"><img src="{{ block.settings.image|image_url }}" class="main__products__item-img"></a>
      <a href="{{ block.settings.product.url }}" class="main__products__item-text">{{ block.settings.custom_title }}</a>
      <div class="stars">
        <div class="yotpo-widget-instance"
          data-yotpo-instance-id="1267418"
          data-yotpo-product-id="{{ block.settings.product.id }}"
          data-yotpo-name="{{ block.settings.product.title | escape }}"
          data-yotpo-url="{{ shop.url }}{{ block.settings.product.url }}"
          data-yotpo-image-url="{{ block.settings.product.featured_image | product_img_url: 'large' | prepend: 'https:' | replace: '?', '%3F' | replace: '&','%26' }}"
          data-yotpo-price="{{ block.settings.product.price | divided_by: 100.00 }}"
          data-yotpo-currency="{{ shop.currency }}"
          data-yotpo-description="{{ block.settings.product.description | escape }}">
        </div>
      </div>
      <div class="priced_set_main"><span class="compared_priced">{{ block.settings.product.compare_at_price | money }}</span> <span class="normal_priced">{{ block.settings.product.price | money }}</span></div>
      <button type="button" variantId="{{ block.settings.product.selected_or_first_available_variant.id }}" class="button_active addToCart">Add to cart</button>
    </div>
    {%- endfor -%}

<script>
  $(document).on('click','.addToCart',function(){
    let id = $(this).attr('variantId');
    let button = $(this);
    data_set={id:id,quantity:1}
    button.text('Adding...');
    $.ajax({
        type: 'POST', 
        url: '/cart/add.js',
        dataType: 'json', 
        data: data_set,
        success: function(){
			cartUpdate();
            button.text('Added!');
            setTimeout(function(){
              button.text('Add to cart');
            },2000)
        }
     })
    
  })
</script>
  
  
</div>
{% schema %}
{
  "name": "Main Products",
  "tag": "section",
  "settings": [
  ],
  "blocks": [
     {
       "name": "Product",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
           "type": "text",
           "id": "custom_title",
           "label": "Product Title"
         },
         {
           "type": "product",
           "id": "product",
           "label": "Product"
         }
       ]
     }
   ]
}
{% endschema %}