<div class="main__products__center">
<!--   <h2 class="main__banner__with__bold">Discover our <b>top sellers</b></h2> -->
  {%- for block in section.blocks -%} 
    <div class="main__products__item">
      <a href="{{ block.settings.product.url }}"><img src="{{ block.settings.image|image_url }}" class="main__products__item-img"></a>
      <a href="{{ block.settings.product.url }}" class="main__products__item-text">{{ block.settings.custom_title }}</a>
      <div class="stars">
        <span class="shopify-product-reviews-badge" data-id="{{ block.settings.product.id }}"></span>
      </div>
      <div class="priced_set_main"><span class="compared_priced">{{ block.settings.product.compare_at_price | money }}</span> <span class="normal_priced">{{ block.settings.product.price | money }}</span></div>
      <button type="button" variantId="{{ block.settings.product.selected_or_first_available_variant.id }}" class="button_active addToCart">Add to cart</button>
    </div>
    {%- endfor -%}

<script>
  $(document).on('click','.addToCart',function(){
    let id = $(this).attr('variantId');
    let button = $(this);
    data_set={id:id,quantity:1}
    // console.log($(this));
    button.text('Adding...');
    $.ajax({
        type: 'POST', 
        url: '/cart/add.js',
        dataType: 'json', 
        data: data_set,
        success: function(){
			cartUpdate();
            console.log(button);
            
            button.text('Added!');
            setTimeout(function(){
              button.text('Add to cart');
            },2000)
        }
     })
    
  })
</script>
  
  
</div>
{% schema %}
{
  "name": "Main Products",
  "tag": "section",
  "settings": [
  ],
  "blocks": [
     {
       "name": "Product",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
           "type": "text",
           "id": "custom_title",
           "label": "Product Title"
         },
         {
           "type": "product",
           "id": "product",
           "label": "Product"
         }
       ]
     }
   ]
}
{% endschema %}